@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    /*  */
    --app-background: 255, 255, 255;
    --color-gray-100: #f8fafb;
    --color-gray-200: #f2f4f5;
    --color-gray-300: #eaeced;
    --color-gray-400: #dbddde;
    --color-gray-500: #b7b9bb;
    --color-gray-600: #989a9b;
    --color-gray-700: #6f7172;
    --color-gray-800: #3d3f40;
    --color-gray-900: #1d1d1d;
    --color-yellow-100: #fdfce9;
    --color-yellow-200: #fbf7c8;
    --color-yellow-300: #f9f2a5;
    --color-yellow-400: #fffa95;
    --color-yellow-500: #f5e96a;
    --color-yellow-600: #f3e34e;
    --color-yellow-700: #f2d44b;
    --color-yellow-800: #efbd43;
    --color-yellow-900: #eba73a;
    --color-blue-100: #e7ebff;
    --color-blue-200: #c3cdfe;
    --color-blue-300: #97adfe;
    --color-blue-400: #638dff;
    --color-blue-500: #4f6df1;
    --color-blue-600: #3456ec;
    --color-blue-700: #013dd4;
    --color-blue-800: #0131c9;
    --color-blue-900: #001bb1;
    --color-system-red: #ff4242;
    --color-system-green: #4caf50;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    /* */
    --app-background: 14, 14, 14;
    --color-gray-100: #1d1d1d;
    --color-gray-200: #28292a;
    --color-gray-300: #464848;
    --color-gray-400: #5f6162;
    --color-gray-500: #7e8081;
    --color-gray-600: #9aa0a2;
    --color-gray-700: #c8cdd0;
    --color-gray-800: #dce2e4;
    --color-gray-900: #ecf1f4;
    --color-yellow-100: #dba34a;
    --color-yellow-200: #e3b844;
    --color-yellow-300: #eec14b;
    --color-yellow-400: #f5cc55;
    --color-yellow-500: #f7d46a;
    --color-yellow-600: #fce08c;
    --color-yellow-700: #fde9a4;
    --color-yellow-800: #f6f3cd;
    --color-yellow-900: #fbfaeb;
    --color-blue-100: #293365;
    --color-blue-200: #182357;
    --color-blue-300: #2f4ebf;
    --color-blue-400: #3a5fd9;
    --color-blue-500: #466be0;
    --color-blue-600: #5278f5;
    --color-blue-700: #9eb1f7;
    --color-blue-800: #c7cffa;
    --color-blue-900: #e9ecfd;
    --color-system-red: #ff6363;
    --color-system-green: #1ed45a;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: var(--custom-background);
    color: var(--color-gray-900);
  }
}
