name: Keep Vercel Functions Warm

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    steps:
      - name: Call Vercel Keep-Alive Function
        run: |
          curl -X GET https://gothere-orpin.vercel.app/api/keep-alive
